@media screen and (max-width: 600px) {

.below-trusted-agency-img {
    width:100%;
}


.below-trusted-agency-contents {
    width: 100%;
}

.content-about-us{
	padding: 0;
	width:100%;
}
.content-about-us hr{
	width: 100%;

}

.content-about-us h2{
	text-align: center;
}
.content-about-us p{
	text-align: justify;
}
.header-top{
	max-width: 100%;
	padding: 0%;
}
.logo{
	width: 100%;
}
.logo img{
	width: 70%;
	text-align: center;
}
.get-free-advice{
	width: 100%;
	float: left;
	padding: 5%;
	text-align: center;
}
.get-free-advice img{
	padding-left: 5%;
	float: left;
	width: 5%;
	padding-top: 22px;
}
.get-free-advice p{
	float: right;
	width: 65%;
	padding-left: 0;
}

.hamburger{
    display: block;
}

#header-bottom{
	width: 100%;
	display: none;
}

.header-bottom nav{
	float: left;
}

.header-bottom a{
	width: 100%;
	padding: 5%;
	display: block;
}
.know-about-lawyered-logo{
	width: 100%;
	height: auto;
}

.know-about-lawyered-logo img{
	padding-top: 20px;
	padding-bottom: 20px;
}

.know-about-lawyered-content{
	margin-top: 10px;
	width: 100%;
	height: auto;
}

.know-about-lawyered{
	margin: 0px auto;
}

.subscribe-newsletter-email{
    width: 50%;
}

.subscribe-newsletter-submit{
    width: 30%;
}

.our-privacy-policy-with-social-links,.footer-lawyered,.footer-for-lawyers,.footer-connect-with-us{
	width: 100%;
}

.footer-lawyered,.footer-connect-with-us,.footer-for-lawyers{
	margin-top: 10px;
}
}



@media screen and (min-width: 601px) and (max-width: 1047px) {
	.header-top {
    height: 45px;
    padding-left: 40%;
}
}

@media screen and (max-width: 334px) {
	.header-top a{
    width: 100%;
    padding: 0;
    background-color: #000000;
}
.header-top{
	height: auto;
	width: 100%;
}
}


@media only screen and ( max-width: 732px ) {
.footer-container{
    background-image: none !important;
    background-color: #000000;
  }
  .main-ftr {
    margin-top: 0px;
}
}
