body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: auto;
}

.container {
    width: 85%;
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
}

/*header*/
.header-top {
    height: 45px;
    padding-left: 68%;
    background-color: #000000;
    border-bottom: 1px solid;
    border-color: #999999;
}

.header-top a {
    float: left;
    overflow: hidden;
    color: #999999;
    text-decoration: none;
    padding: 13px 27px 13px 27px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #999999;
    font-family: 'Open Sans', sans-serif;
}

.header-middle {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.logo {
    width: 40%;
    height: 9%;
}

.logo img {
    padding-left: 11%;
    width: 40%;
    height: 53px;
    padding-top: 12px;
}

.get-free-advice {
    width: 59%;
    float: right;
    color: white;
}

.get-free-advice p {
    padding-right: 22%;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.get-free-advice img {
    padding-left: 27%;
    padding-top: 12px;
    float: left;
}

.get-free-advice span a {
    text-decoration: none;
    color: #02e3fa;
}

.header-bottom {
    width: 100%;
    height: auto;
    background-color: #e7e7e7;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.header-bottom a {
    text-decoration: none;
    color: #000000;
    padding: 0 3% 0 3%;
}
.header-bottom i{
font-size: 22px !important;
}
.header-bottom nav {
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 5%;
}

.hamburger {
    width: 1%;
    font-size: 35px;
    display: none;
    position: relative;
    right: 0;
    left: 45%;
    margin-top: 10px;
    background: #e7e7e7;
}

.cross {
    width: 32px;
    height: 32px;
    position: relative;
    left: 43%;
    top: -5px;
    display: none;
}

.cross:before,
.cross:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000;
    padding-left: 8%;
    margin: 5px 0px 0px 19px;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}


.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #000;
    border-radius: 3px;
}


/*---------*/
.container-about-us-wrapper {
    width: 100%;
    height: 300px;
    background-image: url("../img/about_us.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #232323;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.content-about-us h2 {
    color: #02e3fa;
}

.content-about-us {
    padding-left: 4%;
    padding-top: 80px;
    width: 60%;
    font-family: 'Oswald', sans-serif;
}

.content-about-us hr {
    width: 95%;
    float: left;
}


/*-----*/
.trusted-agency-about-us {
    width: 100%;
    height: auto;
    text-align: center;
}

.trusted-agency-about-us img {
    padding-top: 40px;
    padding-bottom: 10px;
}


.trusted-agency-about-us-content .title {
    position: relative;
    text-align: center;
    font-size: 0px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.trusted-agency-about-us-content .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 350px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.trusted-agency-about-us-content .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background: #f1f1f1;
    transform: translateX(-50%);
}

.trusted-agency-about-us-content .title::after {
    content: "THE TRUSTED AGENCY";
}


/*------*/
.below-trusted-agency {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.below-trusted-agency-img {
    width: 47%;
}

.below-trusted-agency img {
    width: 100%;
}


.below-trusted-agency-contents {
    width: 42%;
    text-align: justify;

}

.below-trusted-agency-contents hr {
    background: linear-gradient(to right, #02e3f9 10%, black 10%);
    width: 80%;
    float: left;
}

.below-trusted-agency-contents h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-top: 0px;
}

.below-trusted-agency-contents h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #535353;
}

.below-trusted-agency-contents p {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}



/*----------*/
.know-about-lawyered {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.know-about-lawyered-logo {
    background-color: #353432;
    background-image: url("../img/6.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20%;
    height: 182px;
    text-align: center;
    float: left;
}

.know-about-lawyered-logo img {
    text-align: center;
    padding-top: 40px;
}

.know-about-lawyered-content {
    background-color: #353432;
    background-image: url("../img/7.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 79%;
}

.know-about-lawyered-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    padding-top: 35px;
    margin-bottom: 15px;
    padding-left: 12px;
    color: #e0e0e0;
}

.know-about-lawyered-content h4,
h3 {
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #e0e0e0;
}

.know-about-lawyered-content h3 {
    color: #0eb7c8;
}





/*Newsletter*/
.newsletter {
    margin: 0px auto;
    width: 85%;
    text-align: center;
}

.newsletter h2 {
    font-family: vivaldi;
    font-weight: bold;
    font-size: 50px;
}

.newsletter hr {
    width: 30%;
}

.newsletter img {
    width: 10%;
    height: 35px;
}

.subscribe-newsletter {
    display: flex;
    justify-content: center;
    width: 100%;
}

.subscribe-newsletter-email{
    width: 30%;
}

.subscribe-newsletter-submit{
    width: 15%;
    z-index: -1;
}

.subscribe-newsletter input[type=text] {
    height: 39px;
    width: 100%;
}
.subscribe-newsletter input[type=submit] {
    background-color: #02e3f9;
    color: white;
    border: none;
    height: 45px;
    width: 100%;
}
.subscribe-newsletter input[type=submit]:hover {
  opacity: 0.7; 
}

/*Footer*/
footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: -25px;
    /*background-color: #000000;*/
}


.main-ftr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;

}
.footer-container{
    background-image: url("../img/footer-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-container ul{
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.footer-container li::before{
    content: "";
    border-color: transparent #ffffff;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}


.footer-container h2,
h3 {
    color: #02e3fa;
}

.our-privacy-policy-with-social-links {
    width: 35%;
}
.our-privacy-policy p{
    text-align: justify;
}

.footer-container .fa {
    padding: 12px;
    font-size: 20px;
    width: 18px;
    height: 18px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
    border: 5px solid #ffffff;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-google {
    background: #dd4b39;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-youtube {
    background: #bb0000;
}

.fa-instagram {
    background: #125688;
}

.our-privacy-policy p {
    color: #b1b1b1;
}

.footer-lawyered {
    width: 18%;
    list-style: none;
    margin-top: 25px;
}

.footer-lawyered h3>a {
    color: #02e3fa;
}

.footer-connect-with-us {
    width: 18%;
    list-style: none;
    margin-top: 25px;
}

.footer-connect-with-us li,
a {
    text-decoration: none;
    color: white;
}

.footer-connect-with-us h3>a {
    color: #02e3fa;
}

.footer-for-lawyers {
    width: 18%;
    list-style: none;
    margin-top: 25px;
}

.footer-for-lawyers li,
a {
    text-decoration: none;
    color: white;
}

.footer-for-lawyers h3>a {
    color: #02e3fa;
}
.footer-copyright{
    width: 100%;
    height: 60px;
    background-color: #02e3fa;
    text-align: center;
}
.footer-copyright h3{
    color: #000000;
    padding-top: 10px;
}
.footer-copyright a{
    color: #000000;
}
